section {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Header */
.bg-white {
    background-color: white;
}

.bg-inverse {
    background-color: black;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-nav .nav-link {
    color: black;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: gray;
}

.bg-inverse .nav-link {
    color: white;
}

/* Home section */
#home {
    padding-top: 300px;
    padding-bottom: 300px;
    text-align: center;
}

/* Tech section */
#tech {
    padding-bottom: 50px;
    text-align: center;
}

.horizontal {
    display: flex;
}

.tech-card {
    display: flex;
    padding: 10px 50px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 15px;
}

.tech-image{
    width: 50px;
    height: 50px;
    margin-top: 0.5em;
}

.tech-label{
    margin-top: 0.5em;
    font-weight: bold;
    font-size: 0.8em;
    margin-bottom: 10%;
}

/* Project section */
#project{
    text-align: center;
    padding-bottom: 50px;
}

.slider {
    display: flex;
    gap: 20px;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    /* Hide scrollbar in Firefox */
    scrollbar-width: none;

    /* Hide scrollbar in IE and Edge */
    -ms-overflow-style: none;
}

.slider::-webkit-scrollbar{
    display: none;
}

.slider-item {
    flex-shrink: 0;
    min-width: calc(100% / 3);
    box-sizing: border-box;
}

.slider-content {
    display: flex;
    justify-content: center;
}

.slider-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}
  
.slider-button {
    position: absolute;
    top: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.button--previous {
    left: 1.5rem;
    transform: rotate(180deg);
}
  
.button--next {
    right: 1.5rem;
}

/* About section */
#about{
    text-align: center;
    padding-bottom: 35px;
}

.text-wrapper{
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
    text-align: justify;
    border-radius: 8px;
}

/* #contacts section */
#contacts{
    text-align: center;
}

.social-icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.social-icons a {
    text-decoration: none;
}

.social-icons svg {
    width: 70px;
    height: 70px;
}