/* Header */
.bg-white {
    background-color: white;
}

.bg-inverse {
    background-color: black;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-nav .nav-link {
    color: black;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: gray;
}

.bg-inverse .nav-link {
    color: white;
}

/* Home section */
#home {
    padding-top: 300px;
    padding-bottom: 300px;
    text-align: center;
}

/* Tech section */
#tech {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.horizontal {
    display: flex;
}

.tech-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 15px;
}

.tech-image{
    width: 50px;
    height: 50px;
    margin-top: 0.5em;
}

.tech-label{
    margin-top: 0.5em;
    font-size: 0.9em;
    margin-bottom: 10%;
}

/* Project section */
#project{
    text-align: center;
}

/* About section */
#about{
    text-align: center;
}

.text-wrapper{
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
    text-align: justify;
    border-radius: 8px;
}

/* #contacts section */
#contacts{
    text-align: center;
}

.social-icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.social-icons a {
    text-decoration: none;
}

.social-icons svg {
    width: 70px;
    height: 70px;
}